@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
    @apply !h-10 !w-10 !rounded-full !bg-white !p-4 !text-primary-color !shadow-lg md:!p-6;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    @apply !text-xs !font-bold md:!text-lg;
}

.noScroll {
    @apply w-full bg-primary-color text-white;
}

.isScroll {
    @apply fixed top-0 w-full bg-white text-gray-800 shadow-lg;
}

.noScroll .add-ads {
    @apply text-primary-color;
}
.isScroll .add-ads {
    @apply border !border-gray-800 hover:!bg-white hover:!text-gray-800;
}

.isScrollMobile {
    @apply fixed top-14 mt-10 w-full;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
